<% if @tripp.locations.any? %>
	<div>
	<ul class="collection with-header">
		<% @tripp.locations.each do |location| %>
			<li class="collection-item card-panel black">
				<div>
					<%= link_to location.name, tripp_location_path(@tripp, location) %>
				</div>
			</li>
		<% end %>
	</ul>
	</div>
<% else %>
<% end %>