<h1 class="logo">Tripps</h1>
<div>
<% if @tripps.any? %>
	<ul>
		<% @tripps.each do |trip| %>
			<li class="nav">
			<%= link_to trip.name, tripp_path(trip) %>
			</li>
			<% end %>
	</ul>
<% else %>
<% end %>

	<%= link_to "Add Tripp", new_tripp_path %>
</div>
