<% if @location.address != nil %>
	<h4> Address:	<%= @location.address.street %></h4>
	<h4> City: <%= @location.address.city %></h4>
	<h4>State: <%= @location.address.state %> | Zip: <%= @location.address.zip %></h4>
<% end %>
