<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a href=<%= tripps_path %> class="breadcrumb">All Tripps</a>
      <a href=<%= tripp_path(@tripp) %> class="breadcrumb">Tripp</a>
      <a href="#!" class="breadcrumb">Edit Location</a>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col s12">
    <div class="card clear-opacity">
      <div class="card-content white-text">
        <span class="card-title">Edit Location</span>
        <p>
        	<%= render(partial: 'location_form') %>
        </p>
      </div>
      <div class="card-action">
        <a><%= link_to 'Back', tripp_path(@tripp) %></a>
      </div>
    </div>
  </div>
</div>
